/* Universal Styles */

html {
  font-size: 18px;
  font-family: helvetica;
}

.container {
  max-width: 960px;
}

/* Company header */

.company {
  background-color: black;
}

.company span {
  color: white;
}

.company img {
  height: 1.5em;
  padding: 0.66rem 1rem;
}

.company .container {
  display: flex;
  align-items: center;

}
